<?xml version="1.0" ?>
<widget xmlns = "http://www.w3.org/ns/widgets" id = "Mundomed.Mundomed-Saude" >
	<name>CEARACOM - Provedor de Tecnologias</name>
	<description>Aplicativo para visualizar o site responsive da empresa.</description>
	<author href="http://www.imaginecomunicacao.com.br" email="atendimento@imaginecomunicacao.com.br">Imagine Comunicação Digital</author>  
	
  <preference name="permissions" value="none"/>
	<preference name="fullscreen" value="true" />
	<preference name="Orienation" value="portrait" />

  <feature name="http://api.phonegap.com/1.0/device" />
  <feature name="http://api.phonegap.com/1.0/network"/>
	
	<icon src="img/icone.png" />
</widget>
